footer {
  width: 100vw;
  /* border: solid white 1px; */
  box-shadow: -5px -5px 10px black;
  background-color: #151827;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 60%;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
  color: #d9519d;
  bottom: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}

.item > img {
  margin: 0.75em;
}
