.btnactive {
  background: transparent linear-gradient(180deg, #ed8770 0%, #d9519d 100%) 0%
    0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  color: #ffffff;
  display: flex;
  padding: 0.8em 2em;
  font-size: 0.75rem;
  align-items: center;
}
.btninactive {
  border: 1px solid #ffffff;
  border-radius: 25px;
  opacity: 1;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  padding: 0.8em 2em;
  font-size: 0.75rem;
  align-items: center;
}

.btnactive > img {
  margin-right: 1em;
}

.btninactive > img {
  margin-right: 1em;
}

img {
  width: 1em;
}
