.btn {
  color: #ffffff;
  border-radius: 25px;
  display: flex;
  padding: 0.8em 2em;
  font-size: 0.75rem;
  align-items: center;
}

.btn-primary {
  background: transparent linear-gradient(180deg, #ed8770 0%, #d9519d 100%) 0%
    0% no-repeat padding-box;
  border: none;
}
.btn-secondary {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.btn > img {
  margin-right: 1em;
  width: 1em;
}
