.track {
  display: flex;
  /* flex-direction: row; */
  height: 50px;
  align-items: center;
  /* justify-content: space-evenly; */
}
.track > :not(:last-child) {
  margin-right: 20px;
}

.track__image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-right: 2em; */
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  background-color: white;
}

.track__info {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  margin: 0 2em 0 0;
  height: 100%;
}

.title {
  text-align: left;
  font-size: 0.8125em;
  /* line-height: 1.5; */
  margin: 0 0 3px 0;
}

.artist {
  text-align: left;
  font-size: 0.625em;
  /* line-height: 1.5; */
}

.track__button {
  height: 100%;
  background: none;
  border: none;
}

button {
  /* background-color: transparent; */
}

.track__line {
  display: flex;
  flex: row;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  /* border-width: 0 0 0.5px 0; */
  height: 100%;
}
