<div class="app-layout">
  <header><h2>Headline</h2></header>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita
      architecto excepturi hic suscipit, ex fugit id quasi quibusdam quidem
      alias necessitatibus voluptatem aliquam molestiae qui dolorum ducimus
      vero. Voluptate?
    </p>
  </main>
  <footer>
    <nav class="bottom-nav">
      <div class="item">
        <img src="../../assets/home.svg" alt="homeicon" /><span>Home</span>
      </div>
      <div class="item">
        <img src="../../assets/music.svg" alt="musicicon" /><span>Songs</span>
      </div>
      <div class="item">
        <img src="../../assets/gear.svg" alt="gearicon" /><span>Settings</span>
      </div>
    </nav>
  </footer>
</div>
