.Controls {
  /* border: solid 5px red; */
  display: flex;
  flex-direction: column;
  /* max-width: 100vw; */
  text-align: center;
  color: white;
}

h5 {
  margin: 0.5rem 0;
}
.buttonRow__primary {
  /* background: blue; */
  display: flex;
  justify-content: space-around;
  /* padding-left: 5rem;
  padding-right: 5rem; */
  color: white;
}

.buttonRow__secondary {
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  color: white;
  height: 80px;
  align-items: center;
}
.buttonRow_button__primary {
  background: none;
  border: none;
}

.buttonRow_button__secondary {
  background: none;
  border: none;
  color: white;
  margin: 0 0.3rem;
}
