<nav class="settings">
  <ul>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/display.svg" alt="Display Icon" />
        <h4>Display</h4></a
      >
    </li>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/audio.svg" alt="Audio Icon" />
        <h4>Audio</h4></a
      >
    </li>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/headset.svg" alt="Headset Icon" />
        <h4>Headset</h4></a
      >
    </li>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/lockscreen.svg" alt="Lockscreen Icon" />
        <h4>Lockscreen</h4></a
      >
    </li>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/menu.svg" alt="Advanced Icon" />
        <h4>Advanced</h4></a
      >
    </li>
    <li class="list-item">
      <a href="#"
        ><img src="../../assets/other.svg" alt="Otjer Icon" />
        <h4>Other</h4></a
      >
    </li>
  </ul>
</nav>
